extends ../layout/index
block contenido

    main.container-fluid
        .container-fluid.pb-1
            .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
                .col-md-5.p-lg-5.mx-auto.my-5
                    h1.display-4.font-weight-normal.primary Catálogo de Productos
                    p.lead.font-weight-normal
                    | Aquí prodrás encontrar individuales, manteles, diseños para el hogar y niños.
                    a.mt-4.btn.btn-outline-secondary(href='#') Escribinos!
                .product-device.shadow-sm.d-none.d-md-block
                .product-device.product-device-2.shadow-sm.d-none.d-md-block
            

        .container-fluid
            .row
                each producto in productos
                    .col-12.col-sm-6.col-md-4.col-lg-3
                        .card(style='width: 18rem;').mb-3
                            img.card-img-top(src=`img/productos/${producto.imagen}.jpg`, class="img-fluid" alt='Manteles de Ecocuero')
                            .card-body
                                h4.card-title.primary=producto.titulo
                                h6.card-subtitle.mb-2.text-muted=producto.diseno
                                ul.list-group.list-group-flush
                                    li.list-group-item=`Colores: ${producto.color}` 
                                    li.list-group-item=`Tamaño: ${producto.medidas}` 
                                    div.list-group-item.d-flex.justify-content-start
                                        | Hecho con
                                        span.material-icons.text-danger.ml-2
                                            | favorite
                                      
                            button.mb-4.ml-4.mr-4.mt-0.btn.btn-outline-primary(type='button') Ver más
                            

                        